<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    <style>
        input {
            margin: 20px;
        }
    </style>
</head>

<body>
    <form action="/insert" method="post">
        <label for="name">Name</label>
        <input type="text" name="name">
        <br>
        <label for="city">City</label>
        <input type="text" name="city">
        <br>
        <label for="teacher_id">teacher id</label>
        <input type="text" name="teacher_id">
        <br>
        <label for="marks">marks</label>
        <input type="text" name="marks">
        <br>
        <input type="submit" value="submit" name="submit">
    </form>
</body>

</html>